
h1 {
    font-family: "Arial";
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-family: "Arial";
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-family: "Arial";
    font-size: 17px;
    font-weight: bold;
}

p {
    font-family: "Arial";
    font-size: 17px;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.grid-container-2 {
    display: grid;
    width: 100vw;
    height: 30vh;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(3, 163, 223);
}

.grid-container-3 {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(3, 163, 223);
}

.instructors {
    display: grid;
    width: 75vw;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.instructor-1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.instructor-2 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.instructor-3 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.instructor-4 {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

img {
    grid-column: 4 / span 1;
    grid-row: 1 / 5;
    align-self: center;
}

nav {
    grid-column: 6 / span 1;
    grid-row: 5 / 6;
    justify-self: center;
    align-self: center;
    color: white;
}

section {
    grid-column: 3 / span 3;
    grid-row: 2 / 3;
}

aside {
    font-family: "Arial-Regular";
    font-size: 30px;
    grid-column: 6 / 8;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    color: #03a3df;
}

a:active {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.footer-image {
    grid-column: 1 / 8;
    grid-row: 1 / span 4;
    justify-self: center;
}

.footer-logo {
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: center;
    grid-row: 2 / 3;
    z-index: 1;
}

footer > p {
    grid-column: 3 / span 4;
    grid-row: 3 / span 2;
    z-index: 1;
    color: white;
}
